@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
.swal2-popup.swal2-toast {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
}

.swal2-popup.swal2-toast .swal2-title {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.swal2-popup.swal2-toast .swal2-icon {
  margin: 0 0.5rem 0 0;
  width: 1.5rem;
  height: 1.5rem;
}

.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content {
  font-size: 1rem;
}